{% extends "base.html" %}

{% block module %}

  <div id="login">
    <header class="module-hd">
    <h1>Log in to Graphical Modeling</h1>
    </header>
    <div class="module-bd">
      <form action="" method="post" class="form-page form-horizontal">
      {% csrf_token %}
      {% if form.errors %}
      <div class="form-group">
        <div class="notice">Invalid username or password</div>
      </div>
      {% endif %}

      <div class="form-group">
        <label class="form-label" for="user_name">Username</label>
        <div class="form-inputs">
          <input type="text" autofocus="autofocus" class="input-large" id="username" name="username" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="user_password">Password</label>
        <div class="form-inputs">
          <input type="password" class="input-large" name="password" id="password" value="">
        </div>
      </div>
      <div class="form-actions">
        <input class="buttons" type="submit" value="Sign in">
        <input type="hidden" name="next" value="/" />
        <ul class="help-block">
          <li>New to Graphical Modeling?
          <a href="/accounts/register/">Sign up</a>
          </li>
        </ul>
      </div>
      </form>
    </div>
  </div>

{% endblock %}
