{% extends "base.html" %}
{% load filters %}

{% block title %}
    Task Information
{% endblock %}

{% block content %}
  
  <div class="info-box">
    <div class="info-box-header">
      <table cellpadding="5">
        <tr>
          <td><img src="/images/task.png" width="40"></td>
          <td>Task #{{ task.id }}</td>
        </tr>
      </table>
    </div>
    <div class="run-info-attrs">
      <table border="0" cellspacing="2" cellpadding="0">
        <tbody>
        <tr>
          <th>Dataset</th>
          <td><a href="/datasets/{{ task.data.id }}">{{ task.data.name }}</a></td>
        </tr>
        <tr>
          <th>Program</th>
          <td><b>{{ task.program.name }}</b></td>
        </tr>
        <tr>
          <th>Options</th>
          <td>
          {% if task.options == "" %}
          (default setting)
          {% else %}
          {{ task.options }}
          {% endif %}
          </td>
        </tr>
        <tr>
          <th>Creator</th>
          <td>{{ task.owner.username }}</td>
        </tr>
        <tr>
          <th>Created</th>
          <td>{{ task.create_date }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="runtime-info">
      <div id="status-info">Status: {{ task.progress }}</div>
      <table border="0" cellspacing="2" cellpadding="0">
        <tbody>
          <tr>
            <th>Total Time</th>
            <td>unavailable</td>
          </tr>
          <tr>
            <th>Max Memory Usage</th>
            <td>unavailable</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="clear:both"></div>
  </div>

  <div id="visual_hd">
    <ul> 
      <li id="graph_tab"><a href="" class="on" onclick="switchVisTab('graph_tab', 'graph_vis'); this.blur(); return false;">Graph</a></li>
      <li id="circos_tab"><a href="" onclick="switchVisTab('circos_tab', 'circos_vis'); this.blur(); return false;">Circos</a></li>
      <li id="degree_tab"><a href="" onclick="switchVisTab('degree_tab', 'degree_vis'); this.blur(); return false;">Degree</a></li>
      <li id="icov_tab"><a href="" onclick="switchVisTab('icov_tab', 'icov_vis'); this.blur(); return false;">ICov</a></li>
    </ul>
    <div style="clear: both">
    </div>
  </div>

  {% if status == "1" %}
  <div id="graph_vis">
    <div id="visualization2">
        <div class="visual_title">
          Blackboard --- results of Task #{{ task.id }}:
        </div>
    <div id="infovis">
        <div id="inner-details"></div>
        </div>
        <div id="log"></div>
        <div style="clear:both"></div>
    </div>

    <div style="clear:both"></div>
  </div>

  <div id="circos_vis" style="display: none;">
    <!-- <object data="{{ circos_svg }}" type="image/svg+xml" codebase="http://www.savarese.com/software/svgplugin/"></object> -->
    <img src="{{ circos_svg }}" width="600px" height="600px">
    <div style="clear:both"></div>
  </div>

  <div id="degree_vis" style="display: none;">
    <div class="histogram">
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
          var degreeData = google.visualization.arrayToDataTable({{ degree_tbl|safe }});

          var options = {
            title: 'degree distribution',
            hAxis: {title: 'degree', titleTextStyle: {color: 'red'}},
            width: 630,
            height: 300,
            pointSize: 8,
            interpolateNulls: true,
            lineWidth: 3,
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(degreeData, options);
        }
      </script>

      <div style="clear:both"></div>
      <div id="chart_div" style="width: 630px; height: 300px;"></div>
    </div>
  </div>

  <div id="icov_vis" style="display: none;">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['table']});
    </script>
    <script type="text/javascript">
    var visualization;
    var icovData;

    var options = {'showRowNumber': true};
    function drawVisualization() {
      // Create and populate the data table.
      // var myDataAsJson = 
      // {
      //   "cols": [
      //     {"id":"A", "label":"Node1", "type":"string"},
      //     {"id":"B", "label":"Node2", "type":"string"},
      //     {"id":"C", "label":"Partial Correlation", "type":"number"}
      //   ],
      //   "rows": [
      //     {"c": [{"v":"V1"}, {"v":"V2"}, {"v":0.45}]},
      //     {"c": [{"v":"V1"}, {"v":"V3"}, {"v":0.55}]},
      //     {"c": [{"v":"V2"}, {"v":"V3"}, {"v":0.35}]},
      //     {"c": [{"v":"V2"}, {"v":"V1"}, {"v":0.65}]}
      //   ]
      // };

      var icovDataAsJson = JSON.parse('{{ icov_json_data|safe }}');
      icovData = new google.visualization.DataTable(icovDataAsJson);
    
      // Set paging configuration options
      // Note: these options are changed by the UI controls in the example.
      options['page'] = 'enable';
      options['pageSize'] = 10;
      options['pagingSymbols'] = {prev: 'prev', next: 'next'};
      options['pagingButtonsConfiguration'] = 'auto';
    
      // Create and draw the visualization.
      visualization = new google.visualization.Table(document.getElementById('table'));
      draw();
    }
    
    function draw() {
      visualization.draw(icovData, options);
    }

    google.setOnLoadCallback(drawVisualization);

    // sets the number of pages according to the user selection.
    function setNumberOfPages(value) {
      if (value) {
        options['pageSize'] = parseInt(value, 10);
        options['page'] = 'enable';
      } else {
        options['pageSize'] = null;
        options['page'] = null;  
      }
      draw();
    }

    // Sets custom paging symbols "Prev"/"Next"
    function setCustomPagingButtons(toSet) {
      options['pagingSymbols'] = toSet ? {next: 'next', prev: 'prev'} : null;
      draw();  
    }

    function setPagingButtonsConfiguration(value) {
      options['pagingButtonsConfiguration'] = value;
      draw();
    }
    
    </script>

    <div style="margin: 5px 0 5px 0; padding: 5px; border: 1px solid gray; background-color: buttonface;">
      <form action="">
        <span style="font-size: 12px;">Number of rows:</span>
        <select style="font-size: 12px" onchange="setNumberOfPages(this.value)">
          <option value="">No paging</option>
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="9">9</option>
          <option selected="selected" value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </form>
    </div>
    <div id="table"></div>

  </div>

 {% else %}
 <div id="graph_vis"></div>
 <div id="degree_vis"></div>
 <div id="icov_vis"></div>
 {% endif %}

{% endblock %}

{% block visualization %}
  {% if status == "1" %}
      <script src="/medias/js/jit.js" type="text/javascript" language="javascript" defer></script>
      <script src="/medias/js/force-direct.js" type="text/javascript" language="javascript" defer></script>
      <script type="text/javascript" defer>
        window.onload = function() {
          graph_data = JSON.parse('{{ graph_json_data|safe }}');
          init(graph_data);
        }
      </script>
  {% else %}
  {% endif %}
{% endblock %}



<!--
  <div id="visualization">
    {% if status == "1" %}
      <div class="visual_title">
        Blackboard --- results of Task #{{ task.id }}:
      </div>
      <ul>
        <li class="graph"><img src="{{ result_graph }}" width="590" height="360"></li>
      </ul>
    {% else %}
      <div class="visual_title">
        Blackboard --- results will be shown here.
      </div>
    {% endif %}
    </div>

    <div style="clear: both"></div>
  </div>
-->


