body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

#header {
  height: 50px;
  padding: 10px;
  background: url(/images/header_bg.png) 0 0 repeat-x;
  color: white;
  margin-bottom: 35px;
}

#content {
  min-height: 400px;
  margin-bottom: 35px;
}

.inner {
  width: 1000px;
  margin: 0 auto;
}

.aside {
  width: 280px;
  margin-right: 30px;
  margin-bottom: 20px;
  background: #F2F2F2;
  border: 1px solid #CCC;
  border-radius: 3px;
}

aside {
  display: block;
}

.aside header {
  padding: 5px 5px 5px 1em;
}

.aside .username {
  font-size: 18px;
  line-height: 1.5;
}

.aside .profile-link {
  color: gray;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.aside .info {
  background: #F9F9F9;
  border-radius: 0 0 3px 3px;
}

.aside ul {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.li-dataset, .li-program, .li-task, .li-vis {
  padding: 10px 5px 5px 1em;
  font-size: 18px;
}

.li-dataset, .li-program, .li-task {
  border-bottom: 1px solid #E6E6E6;
}

.subli {
  margin-left: 15px;
  padding: 5px;
  font-size: 15px;
}

.subli li {
  padding: 2px;
}

.aside .info li a {
  color: #515151;
  display: block;
}

.subli li a:hover {
  text-decoration: none;
  background-color: #EEE;
} 

.current_view {
  color: black !important;
  font-weight: 700;
  text-decoration: none;
}

.logo {
  float: left;
  margin-top: -8px;
  text-decoration: none !important;
  font: bold 38px "Comic Sans MS Bold", "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

.user_info {
  line-height: 45px;
  float:right;
  color:black;
  margin-top:15px;
}

.user_info a {
  text-decoration: none !important;
  line-height: 25px;
}

.user_info a:hover {
  border-bottom: 2px solid #009933;
  padding-bottom: 3px;
}

.signin-btn, .signup-btn, .signout-btn {
  color: #006837;
  display: inline-block;
  background-color: #39CC4A;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #39CC4A), color-stop(100%, #39B54A));
  background-image: -webkit-linear-gradient(top, #39CC4A 0%,#39B54A 100%);
  background-image: -moz-linear-gradient(top, #39CC4A 0%,#39B54A 100%);
  background-image: -o-linear-gradient(top, #39CC4A 0%,#39B54A 100%);
  background-image: linear-gradient(top, #39CC4A 0%,#39B54A 100%);
  padding: 0 6px;
  border: 1px solid #093 !important;
  border-radius: 3px;
}

.signout-btn:hover, .signin-btn:hover, .signup-btn:hover {
  background-color: #39CC33;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #39CC33), color-stop(100%, #39CC00));
  background-image: -webkit-linear-gradient(top, #39CC33 0%,#39CC00 100%);
  background-image: -moz-linear-gradient(top, #39CC33 0%,#39CC00 100%);
  background-image: -o-linear-gradient(top, #39CC33 0%,#39CC00 100%);
  background-image: linear-gradient(top, #39CC33 0%,#39CC00 100%);
  padding-bottom: 0px !important;
}

.signout-btn:active, .signin-btn:active, .signup-btn:active {
  background-color: #39B54A;
  background-image: -webkit-linear-gradient(top, #39B54A 0%,#39CC4A 100%);
  background-image: -moz-linear-gradient(top, #39B54A 0%,#39CC4A 100%);
  background-image: -o-linear-gradient(top, #39B54A 0%,#39CC4A 100%);
  background-image: linear-gradient(top, #39B54A 0%,#39CC4A 100%);
}

.divider {
  height: 26px;
  margin-right: 8px;
  margin-left: 8px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #F2F2F2;
}

.module {
  border-bottom: 3px solid #F2F2F2;
  border-radius: 3px;
}

.welcome {
  text-align: center;
}

.guide {
  position: relative;
  padding-top: 28px;
}

.signup-link {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -96px;
  background-image: url(/images/signup-bg.png);
  color: #209966;
  text-decoration: none;
}

.signup-link span {
  display: inline-block;
  width: 180px;
  height: 44px;
  margin: 5px 6px 10px;
  background-color: #39CC4A;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF39CC4A', endColorstr='#FF39B54A');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #39CC4A), color-stop(100%, #39B54A));
  background-image: -webkit-linear-gradient(top, #39CC4A 0%,#39B54A 100%);
  background-image: -moz-linear-gradient(top, #39CC4A 0%,#39B54A 100%);
  background-image: -o-linear-gradient(top, #39CC4A 0%,#39B54A 100%);
  background-image: linear-gradient(top, #39CC4A 0%,#39B54A 100%);
  border-radius: 5px;
  color: #006837;
  text-align: center;
  font-size: 26px;
  line-height: 44px;
}

.what, .why {
  float: left;
  width: 50%;
  min-height: 9em;
  padding-top: 4em;
  border-top: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 13px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.what {
  border-right: 1px solid #E5E5E5;
}

.what h3, .why h3 {
  margin-left: 6em;
  position: absolute;
  margin-top: -1.5em;
  padding: 0 .4em;
  font-size: 1.4em;
  white-space: nowrap;
}

.what p, .why p {
  margin: 1em 5em;
  padding-left: 50px;
  background: url(/images/icon-what.png) 0 0 no-repeat;
}

.module-hd {
  height: 34px;
  background-color: #F2F2F2;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF2F2F2', endColorstr='#FFE6E6E6');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F2F2F2), color-stop(100%, #E6E6E6));
  background-image: -webkit-linear-gradient(top, #F2F2F2 0%,#E6E6E6 100%);
  background-image: -moz-linear-gradient(top, #F2F2F2 0%,#E6E6E6 100%);
  background-image: -o-linear-gradient(top, #F2F2F2 0%,#E6E6E6 100%);
  background-image: linear-gradient(top, #F2F2F2 0%,#E6E6E6 100%);
  border: 1px solid #CCC;
  line-height: 34px;
}

.module-hd h1 {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: 400;
  text-rendering: optimizelegibility;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.module-bd {
  background: white;
  border: 1px solid #CCC;
}

#introduction {

}

.intro_info {
  font-weight: 500;
  font-size: 18px;
  padding: 5px 15px 5px 18px;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  border-radius: 3px;
  line-height: 1.5em;
  background: #F9F9F9; 
}

.example {
  border: 1px solid #CCC;
  margin-bottom: 10px;
}

.example_hd {
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0 5px 10px;
  border-bottom: 1px dotted gray;
  border-radius: 3px 3px 0 0;
  line-height: 1.5em;
  background: #F2F2F2;
}

.example_bd {
  padding: 5px 15px 5px 12px;
  background: #F2F2F2;
  font-size: 18px;
}

.example_bd img {
  border: 2px solid gray;
}

.form-page {
  width: 630px;
  margin: 20px auto;
  font-size: 14px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group::before, .form-group::after {
  display: table;
  content: "";
}

.form-horizontal, .form-group::after {
  clear:both;
}

.form-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 15px;
}

label, input, button {
  line-height: 18px;
}

.form-inputs {
  margin-left: 160px;
}

.input-large {
  width: 300px;
}

input, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  outline: 0;
}

input:focus, textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
}

input, textarea {
  display: inline-block;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  border: 1px solid #CCC;
  border-radius: 3px;
}

button, input, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

select {
  font-size: 80%;
}

.form-action {
  padding-left: 160px;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  width: auto;
  height: auto;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="radio"] {
  width: 30px;
  height: auto;
}

input[type="file"] {
  font-size: 80%;
  width: auto;
  height: auto;
}

ul.help-block {
  font-size: 15px;
  list-style-type: disc;
  margin-left: 18px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.help-block li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.help-block a {
  color: #209966;
  text-decoration: none;
}

.main {
  width: 680px;
}

.google-visualization-table-table {
  width: 680px;
}

.aside, .main {
  float: left;
}

#datasets {
  width: 670px;
  padding-left: 10px;
  float: left;
  min-height: 300px;
}

.tbl_dataset, .tbl_program, .tbl_task {
  padding: 2px 2px 8px;
  text-overflow: hidden;
  margin: 8px 0 0 0;
}

.tbl_dataset table, .tbl_program table, .tbl_task table {
  border-collapse:collapse; 
  border:solid #999; 
  border-width:1px 0 0 1px; 
  width: 100%;
}

.tbl_dataset tr, .tbl_program tr, .tbl_task tr {
  display: table-row;
}

.tbl_dataset th, .tbl_program th, .tbl_task th {
  color: #4f6b72;
  padding: 3px 8px 3px 8px;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}

.tbl_dataset td, .tbl_task td {
  font-size:15px;
  padding: 2px 10px 2px 10px;
  color: #4f6b72;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.sorted_table_box {
  color: #333;
  margin: 2px 0px 0px;
  border-bottom: 1px solid #BBB;
  border-top: 1px solid #BBB;
  border-left: 1px solid #BBB;
}

table.sorted_table_box tr.even {
  line-height: 1.3em;
}

td.td_data {
  max-width: 80px;
}

.td_data a {
  color: #3F7E86;
  font-weight: 700;
}

.td_data a:hover, .td_task a:hover, .td_prog a:hover {
  color: #900;
}

td.td_user {
  max-width: 70px;
}

td.td_task a {
  color: #433586;
  font-weight: 700;
}

td.td_prog a {
  color: #357;
}

.sorted_table_box {
  width: 100%;
}

.tbl_program td {
  font-size:15px;
  padding: 2px 10px 2px 10px;
  color: #4f6b72;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tbl_program textarea {
  border-radius: 3px;
  border: 1px solid black;
  color: black;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tbl_program textarea:hover {
  color: #555;
}

#task_access {
  margin: 10px 0 0px 0;
  padding: 5px 0 0 0;
}

#models {
  width: 670px;
  padding-left: 10px;
  float: left;
  min-height: 300px;
}

#model_container {
  margin: 8px 0 0 0;
}

#model_container *, #visual_hd * {
  list-style: none;
}

#model_container_hd, #visual_hd {
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #F2F2F2 0%,#E6E6E6 100%);
  background-image: -moz-linear-gradient(top, #F2F2F2 0%,#E6E6E6 100%);
  background-image: -o-linear-gradient(top, #F2F2F2 0%,#E6E6E6 100%);
  background-image: linear-gradient(top, #F2F2F2 0%,#E6E6E6 100%);
}

#model_container_hd li, #visual_hd li {
  float: left;
  width: 110px;
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px 6px;
}

#model_container a, #visual_hd a {
  display: block;
  color: #4A682D;
  text-decoration: none;
  padding: 2px;
  border-radius: 3px;
}

#model_container a.on, #model_container a:hover, #visual_hd a.on, #visual_hd a:hover {
  font-weight: bold;
  background-color: #F9F9F9;
}

#con1, #con2, #con3, #con4 {
  margin: 5px 0 0 0;
  border: 1px solid #CCC;
  min-height: 180px;
  background-color: #F9F9F9;
  padding: 5px 15px 5px 18px;
  line-height: 1.5em;
  font-size: 18px;
}

.prg_usage {
  border: 1px solid #CCC;
  padding: 10px 5px 10px 10px;
  background-color: #F2F2F2;
  margin-bottom: 10px;
  font-family: "Courier New";
  font-size: 16px;
  border-radius: 3px;
  color: #d14;
}

.prg_ref {
  background-color: #F2F2F2;
  list-style: square;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  margin-bottom: 10px;
}

.prg_ref ul {
  width: 100%;
  padding-left: 15px;
}

.prg_ref ul li {
  padding-right: 15px;
}

h4 {
  margin: 10px 0 10px 0;
}

#tasks {
  width: 670px;
  padding-left: 10px;
  float: left;
  min-height: 300px;

}

#visualization, #visualization2 {
  margin: 4px 5px 8px 30px;
  border: 3px solid gray; 
  border-radius: 10px;
  float: right;
  width: 670px;
  height: 400px;
  text-align: center;
  box-shadow: 2px 10px 50px #888888;
}

#visualization2 {
  background-color:#1a1a1a;
  color:#ccc;
  height: 620px;
  text-align: left;
}

#circos_vis {
  text-align: center;
}

#visualization ul, #visualization li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.visual_title {
  padding: 8px 10px 3px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px dotted gray;
}

.histogram {
  position: relative;
}

.precision {
  height: 320px;
}

.cv {
  height: 320px;
}

.graph {
  height: 520px;
}

.notice {
  width: 280px;
  margin: 0 auto 20px;
  background: #F2DEDE;
  border: 1px solid #EDCCFF;
  color: #B94A48;
  padding: 8px 14px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.block_title {
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  border-radius: 3px;
  line-height: 1.5em;
  background-image: -webkit-linear-gradient(top, #F2F2F2 0%,#E6E6E6 100%);
  background-image: -moz-linear-gradient(top, #F2F2F2 0%,#E6E6E6 100%);
  background-image: -o-linear-gradient(top, #F2F2F2 0%,#E6E6E6 100%);
  background-image: linear-gradient(top, #F2F2F2 0%,#E6E6E6 100%);
}

.prog_box {
  border: 1px dotted gray;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.prog_box_header {
  padding-bottom: 5px;
  font-size: 16px;
}

p .block_title {
  padding: 0;
  margin: 0;
}

.info-box {
  border: 1px dashed gray;
  margin-bottom: 25px;
}

.info-box-header {
  font-weight: bold;
  font-size: 2em;
  border-bottom: 1px solid #C4C4C4;
  padding-top: 12px;
  padding-bottom: 6px;
  padding-left: 13px;
}

.info-box-desc {
  float: left;
  width: 50%;
  padding: 20px;
  padding-right: 0px;
  overflow: hidden;
}

.info-box-attrs {
  float: right;
  width: 40%;
  padding: 20px;
  padding-right: 0px;
  border-left: 1px dotted gray;
}

.show_hide_box {
  margin-bottom: 20px;
  border: 1px dotted gray;
  padding: 5px 0 5px 10px;
}

.show_hide_header {
  font-size: 20px;
}

#show_hide_prog {
  margin-right: 12px;
}

#show_hide_prog table {
  width: 100%;
}

a.icon {
  border: 0;
}

.show_hide_header a:hover {
  text-decoration: none;
  color: #3F7E86;
  background-color: #3F7E86;
  font-weight: bold;
  cursor: pointer;
}

img.icon {
  border-style: none;
  border: none;
  text-decoration: none;
  vertical-align: middle;
  padding-bottom: 4px;
}

.run-info-attrs {
  float: left;
  width: 45%;
  padding: 10px;
  padding-left: 0;
  border-right: 1px dotted gray;
}

.runtime-info {
  width: 50%;
  padding: 10px;
  padding-right: 0;
  float: right;
}

#status-info {
  border-bottom: 2px solid rgba(101, 84, 69, 0.25);
  padding: 5px;
  font: 1.4em "Courier New", Courier, mono;
}

#wrapper span.buttons {
  float: right;
}

.buttons {
  border: 1px solid #3E362F;
  border-top: 1px solid #BCBCB4;
  border-left: 1px solid #BCBCB4;
  border-bottom: 1px solid #BCBCB4;
  border-right: 1px solid #BCBCB4;
  background-color: #F2F2F2;
}

input.buttons {
  font-size: 16px;
  padding: 3px 8px 3px 8px;
}

.buttons a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: #A90000;
  padding: 4px 10px 4px 7px;
}

.buttons a:active {
  background-color: #FAFAFA;
  color:red;
}

.submit_buttons {
  background-color: #D76C03; 
  font-weight: 700;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
  line-height: 2em;
  font-size: 15px;
  padding: 2px 10px 2px 10px;
}

.submit_buttons:hover {
  background-color: #A55302;
  cursor: pointer;
}

.submit_buttons:active {
  background-color: #A55302;
}

.more {
  margin: 15px 0 0 0;
  padding: 5px;
}

.more a {
  background-color: whiteSmoke;
  color: #A90000;
  text-decoration: none;
  margin: 3px 0px 10px;
  box-shadow: 2px 2px 2px #888888;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  padding: 3px;
  font: 13px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.upload, .success {
  padding-left: 10px;
}

.upload table th {
  text-align: center;
  padding: 10px;
}

.success table, .info-box-attrs table, .run-info-attrs table, .runtime-info table {
  margin: 5px;
  border-collapse:collapse; 
}

.success tr, .info-box-attrs tr, .run-info-attrs tr, .runtime-info tr {
  display: table-row;
}

.success th, .info-box-attrs th, .run-info-attrs th, .runtime-info th {
  padding: 6px 15px 6px 15px;
}

.success td, .info-box-attrs td, .run-info-attrs td, .runtime-info td {
  padding: 6px 15px 6px 15px; 
}

#footer {
  padding-top: 30px;
  margin-bottom: 20px;
}

#footer .inner {
  padding: 10px 0 10px 0;
  border: 1px solid #E6E6E6;
  background: url(/images/footer_bg.png) 0 0 repeat;
}

#footer .mod {
  float: left;
  width: 184px;
  margin-left: 36px;
}

#footer ul {
  padding-left: .8em;
  border-left: 2px solid #CCC;
}

#footer li {
  list-style: none;
}

#footer a {
  color: #333;
}

#footer h4 {
  margin-bottom: .3em;
  font-weight: 500;
  font-size: 1.0em;
}

#copyright {
  float: right;
  margin-right: 20px;
  margin-top: 60px;
  margin-bottom: 0px;
  font: 13px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div {
  display: block;
}

.intro_box.dataset {
  background: url(/images/bg_intro1.png) no-repeat scroll left 30px transparent;
  background-size: 300px;
  min-height: 300px;
}

.intro_box.model {
  background: url(/images/bg_intro2.png) no-repeat scroll right 30px transparent;
  background-size: 300px;
  min-height: 300px;
}

.intro_box.task {
  background: url(/images/bg_intro4.png) no-repeat scroll left 30px transparent;
  background-size: 300px;
  min-height: 300px;
}

.intro_box.visual {
  background: url(/images/bg_intro3.png) no-repeat scroll right 30px transparent;
  background-size: 300px;
  min-height: 250px;
}

.intro_box.dataset p, .intro_box.task p {
  padding: 53px 53px 20px 358px;
  min-height: 230px;
  border-bottom: 1px solid #dfdddd;
}

.intro_box.model p, .intro_box.visual p {
  padding: 53px 358px 20px 33px;
  min-height: 230px;
  border-bottom: 1px solid #dfdddd;
}

.intro_box.dataset p span, .intro_box.model p span, .intro_box.task p span, .intro_box.visual p span {
  color: #293a43;
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 16px;
}

.intro_box .dataformat_box .api_box .about_box {
  border-top: 1px solid #fff;  
  margin: 0 10px;
}

.intro_box p {
  font-size: 13px;
  color: #4a5860;
  line-height: 20px;
}

.dataformat_box h3, .intro_box h3, .about_box h3, .api_box h3 {
  border-bottom: 1px solid #ccc;
  font-size: 160%;
  margin: 2 0 1em;
  padding: .5em 0;
  color: #3a4f5a;
  text-shadow: 0 1px 0 #fff;
  font-weight: bold;
  line-height: 1.2em;
}

.nav_active {
  border-bottom: 2px solid #009933;
  padding-bottom: 3px;
}

